<div class="card">
    {% if item.url %}
    <a href="{{ item.url }}">
        {% if item.img_url %}
        <img src="{{ item.img_url }}">
        {% else %}
        <div class="dummy-box"></div> 
        {% endif %}
    </a>
    <div class="card-content">
        {{ item.name }}
    </div>
    {% endif %}
</div>