{% set options = items | map(attribute='tags') | list %}

{% for filter in filters %}
{{ options }}
<label for="{{ filter.attr }}">{{ filter.name }}:</label>
{% if filter.type == 'multi-select' %}
<select name="{{ filter.attr }}" id="id-{{ filter.attr }}">
    {% for opt in options %}
    <option value="{{ opt }}">{{ opt }}</option>
    {% endfor %}
</select>
{% endif %}
{% endfor %}