.md-grid {
    max-width: 1440px;
  }

.md-header__button.md-logo img, 
.md-header__button.md-logo svg {
  height: 1.8rem;
  width: 1.8rem;
}

.card {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  max-width: 200px;
  border: 1px solid black;
}

.card-content {
  padding: .5em;
}

/* Hide footer creator notice, leave in place for the items on the right */
.md-footer-copyright {
  visibility: hidden;
}

.dummy-box {
  background-color: darkgray;
  min-width: 150px;
  min-height: 150px;
  padding: .5rem;
}

/* Grid */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}

/* Icons in tabbed headers */

div.tabbed-set label span.twemoji {
  display: inline-block;
  margin-right: .5em;
}

/* better link visibility */
.md-content a {
  border-bottom: 1px dotted var(--md-typeset-a-color);
  transition: color 125ms;
}

.md-content a:hover {
  border-bottom: 1px dotted var(--md-accent-fg-color);
  transition: color 125ms;
}

/* 
  Gallery, some other css is defined as variables und used as inline styles
*/

section.gallery-links {
  display: flex;
  flex-flow: wrap;
}

a.gallery-img {
  flex-basis: 16%;
  margin: 10px;
  position: relative;
}

.gallery-img .tags {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  pointer-events: none;
}

.collapsed,
.hidden {
  display: none;
}

a.gallery-img img,
a.gallery-img .dummgy-box {
  width: 100%;
}

.fullwidth {
  width: 100%;
}

.center {
  text-align: center;
}

// stolen from github =)

.avatar {
	overflow: hidden;
	line-height: 1;
	vertical-align: middle;
	background-color: var(--color-avatar-bg);
	border-radius: 6px;
	flex-shrink: 0;
	box-shadow: 0 0 0 1px var(--color-avatar-border);
}

.circle {
	border-radius: 50% !important;
}

textarea.md-input {
    box-shadow: none;
    border: none;
    box-sizing: content-box;
    background-color: transparent;
    overflow-y: hidden;
    padding: 2.5rem 0.5rem;
    resize: none;
    line-height: 1.6;
	font-feature-settings: "kern","liga";
	font-family: var(--md-text-font-family);
	height: 100% !important;
}
